<div class="container">
	<div class="row mb20">
		<h2 class="text-uppercase text-center mb20"><strong>Gerencie!</strong></h2>
	</div>
	<div class="row">
		<div class="col-xs-12	col-sm-12	col-md-4 col-lg-4">
			<a [routerLink]="['/shopkeeper/dashboard/stores']">
				<img class="w200h200 center-block" src="./assets/img/grocery.svg"/>
			</a>
			<h3 class="text-center mb20">Estabelecimentos</h3>
			<p class="text-center col-xs-12	col-sm-12 col-md-12 col-lg-12 mb20">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-xs-12	col-sm-12	col-md-4 col-lg-4">
			<a [routerLink]="['/shopkeeper/dashboard/products']">
				<img class="w200h200 center-block" src="./assets/img/basket.svg"/>
			</a>
			<h3 class="text-center mb20">Produtos</h3>
			<p class="text-center col-xs-12	col-sm-12 col-md-12 col-lg-12 mb20">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-xs-12	col-sm-12 col-md-4 col-lg-4">
			<a [routerLink]="['/shopkeeper/dashboard/employees']">
				<img class="w200h200 center-block" src="./assets/img/economy.svg"/>
			</a>
			<h3 class="text-center mb20">Funcionários</h3>
			<p class="text-center col-xs-12	col-sm-12 col-md-12 col-lg-12 mb20">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>