<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="padding: 16px">

            <h3 align="center">Esqueceu sua senha?</h3>

            <p align="center">Preencha seu endereço de email no campo abaixo para receber as instruções necessárias na
                sua caixa de entrada e criar uma nova senha na iNeed.</p>

            <form #formForgot="ngForm" (ngSubmit)="onClickForgot()">

                <div class="form-group" [class.has-error]="!email.valid && email.touched">
                    <input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" name="email"
                           [(ngModel)]="shopkeeper.email" required email #email="ngModel">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="!email.valid && email.touched">
                    <p class="small">E-Mail deve ser um endereço de e-mail válido</p>
                </div>

                <button type="submit" class="btn btn-success btn-block" [disabled]="!formForgot.valid"
                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">
                    <span class="glyphicon"
                          [ngClass]="{
                                          'glyphicon-refresh': btnLoading,
                                          'glyphicon-refresh-animate': btnLoading
                                      }"
                    ></span>
                    Recuperar minha senha
                </button>

            </form>

            <div style="margin-top: 1em;" class="alert alert-danger" role="alert"
                 *ngIf="!shopkeeperLoggedStatus">
                <p class="small" align="center">Usuário não encontrado</p>
            </div>

            <hr>

            <p class="small">Possui uma conta? <a routerLink="/subscribe/signin">Clique aqui</a> para logar.
            </p>
        </div>
    </div>
</div>
