<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="padding: 16px">

            <div class="space"></div>


            <div>

                <img src="../../../assets/img/icon_email.png" class="center-block">

                <p style="margin: 2em;" align="justify">Enviamos um e-mail para o endereço fornecido na criação da conta iNeed, verifique sua
                    caixa de e-mail e sua caixa de spam.
                </p>

            </div>

            <hr>
            <p class="small">Possui uma conta? <a routerLink="/subscribe/signin">Clique aqui</a> para logar.
            </p>
        </div>
    </div>
</div>