@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  text-shadow: none;
}

.purple-1 {
  background-color: #340054;
}

.w200h200 {
  width: 200px;
  height: 200px;
} 

.white-text {
	color: white;
}