<link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="./assets/commons/shopkeeper-nav.css">
<div class="container">
	<div class="masthead clearfix text-center">
	  <div class="inner">
		  <h3 class="masthead-brand">iNeed</h3>
			<nav>
				<ul class="nav masthead-nav">
					<li>
						<a href="#">Home</a>
					</li>
					<li dropdown class="dropdown">
						<a  dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gerenciamento</a>
							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li><a [routerLink]="['/shopkeeper/dashboard/admin/stores']">Estabelecimentos</a></li>
								<li><a [routerLink]="['/shopkeeper/dashboard/admin/products']">Produtos</a></li>
								<li><a [routerLink]="['/shopkeeper/dashboard/admin/employees']">Funcionários</a></li>
								<li><a [routerLink]="['/shopkeeper/dashboard/my-acc']">Minha Conta</a></li>
							</ul>
					</li>
					<li>
						<a [routerLink]="['/about']">Sobre</a>
					</li>
					<li>
						<a [routerLink]="['/contact']">Contato</a>
					</li>
					<li>
						<a (click)="onClickSair()">Sair</a>
					</li>
				</ul>
			</nav>
	  </div>
	</div>
</div>
<header>
	<div class='jumbotron purple-1'>	
		<div class="container">
			<div class="row mb20">
				<h2 class="text-uppercase text-center" style="color: #fff">Olá <strong>{{user.displayName}}</strong></h2>				
			</div>
			<div class="row"> 
				<img class="w200h200 img-circle center-block" [src]="user.photoURL || './assets/img/boss.svg'"/>
			</div>			
		</div>
	</div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
	<div class="container">
		<div class="row col-xs-12	col-sm-4	col-md-4	col-lg-4">
			<div>
				<h3 class="footer-title"><strong>iNeed</strong></h3>			
			</div>
			<div class="row">
				<div class="col-xs-12	col-sm-12 col-md-12	col-lg-12">
					<ul class="no-list-style">
						<li>
							<a [routerLink]="['/home']">Home</a>
						</li>
						<li>
							<a [routerLink]="['/download']">Download</a>
						</li>								
					</ul>
				</div>
			</div>
		</div>
		<div class="row col-xs-12	col-sm-4	col-md-4	col-lg-4">
			<div>
				<h3 class="footer-title"><strong>iNeed</strong></h3>			
			</div>
			<div class="row">
				<div class="col-xs-12	col-sm-12 col-md-12	col-lg-12">
					<ul class="no-list-style">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Download</a>
						</li>								
					</ul>
				</div>
			</div>
		</div>
		<div class="row col-xs-12	col-sm-4	col-md-4	col-lg-4">
			<div>
				<h3 class="footer-title"><strong>iNeed</strong></h3>			
			</div>
			<div class="row">
				<div class="col-xs-12	col-sm-12 col-md-12	col-lg-12">
					<ul class="no-list-style">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Download</a>
						</li>								
					</ul>
				</div>
			</div>
		</div>		
	</div>
	<div class="text-center grey-text">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>