<div class="row">
	<div class="input-group">
		<input class="form-control" type="text" name="search-products" placeholder="Pesquisar produtos" [(ngModel)]="query">
		<span class="input-group-btn">
    	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
  	</span>    	
  </div>
  <select class="form-control" (change)="onChange($event.target.value)">
  	<option *ngFor="let store of stores" [value]="store">{{ store }}</option>
  </select>
</div>
<div class="row">  
  <div class="table-responsive" style="max-height: 560px;overflow-y: auto">
  	<table class="table table-striped">
  		<thead>
  			<tr>
		    	<th>Produto</th>
		    	<th><span class="material-icons">attach_money</span></th>
		    	<th><span class="material-icons">thumb_up</span></th>
		    	<th><span class="material-icons">thumb_down</span></th>
		    	<th>Ações</th>
		    </tr>
	    </thead>	    
	    <tbody>	    	
	    	<tr *ngFor="let product of products | async | search : query | paginate: paginationComponentConfig">
	    		<td>{{ product.name }}</td>
	    		<td>{{ product.price }}</td>
	    		<td>{{ product.upVotesCount || "0" }}</td>
	    		<td>{{ product.downVotesCount || "0" }}</td>
	    		<td>
	    			<a class="no-decoration" href="/shopkeeper/dashboard/admin/products/edit/{{product.$key}}">
	    				<span class="material-icons">edit</span>
	    			</a>
	    			<a (click)="deleteProduct(product.$key, product.categories, product.store)">
	    				<span class="material-icons">delete</span>
	    			</a>
	    		</td>
	    	</tr>	 	  	
	    </tbody>
  	</table>	  		
  </div>
  <pagination-template #pagination="paginationApi"
										     [id]="paginationComponentConfig.id"
										     (pageChange)="paginationComponentConfig.currentPage = $event">
    <div class="pagination">
        <div class="pagination-previous" [class.disabled]="pagination.isFirstPage()">
            <a *ngIf="!pagination.isFirstPage()" (click)="pagination.previous()"><span class="material-icons">navigate_before</span></a>
        </div>

        <div *ngFor="let page of pagination.pages" [class.current]="pagination.getCurrent() === page.value">
            <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
                <span>{{ page.label }}</span>
            </a>
            <div *ngIf="pagination.getCurrent() === page.value">
                <span>{{ page.label }}</span>
            </div>
        </div>

        <div class="pagination-next" [class.disabled]="pagination.isLastPage()">
            <a *ngIf="!pagination.isLastPage()" (click)="pagination.next()"><span class="material-icons">navigate_next</span></a>
        </div>
    </div>
	</pagination-template>	  
</div>
<button class="fab" (click)="addNewProduct()"><span class="material-icons">add</span></button>