<p *ngIf="!(products | async)">LOADING</p>
<div *ngIf="(products | async)">
  <form [formGroup]="productsForm" (ngSubmit)="updateProduct(productsForm.value)">
  <div class="form-group">
    <label for="product-name">Produto:</label>
    <input required type="text" class="form-control" id="product-name" placeholder="Como seus clientes verão o produto" [formControl]="productsForm.controls['name']">
    <aside *ngIf="productsForm.controls['name'].hasError('required') && productsForm.controls['name'].touched" class="alert alert-danger">Seus clientes não podem achar um produto sem nome!</aside>
    <aside *ngIf="productsForm.controls['name'].hasError('minlength') && productsForm.controls['name'].touched" class="alert alert-danger">O nome do produto deve ter, pelo menos, 3 caracteres.</aside>
    <aside *ngIf="productsForm.controls['name'].hasError('maxlength') && productsForm.controls['name'].touched" class="alert alert-danger">O nome do produto deve ter, no máximo, 40 caracteres.</aside> 	 	
  </div>
  <div class="form-group">
    <label for="product-description">Descrição:</label>
    <textarea required class="form-control" id="product-description" placeholder="Conte mais sobre o produto!" [formControl]="productsForm.controls['description']"></textarea>
    <aside *ngIf="productsForm.controls['description'].hasError('required') && productsForm.controls['description'].touched" class="alert alert-danger">Seus clientes querem saber mais sobre o produto!</aside>
    <aside *ngIf="productsForm.controls['description'].hasError('minlength') && productsForm.controls['description'].touched" class="alert alert-danger">A descrição produto deve ter, pelo menos, 15 caracteres.</aside>
    <aside *ngIf="productsForm.controls['description'].hasError('maxlength') && productsForm.controls['description'].touched" class="alert alert-danger">A descrição produto deve ter, no máximo, 200 caracteres.</aside>
  </div>
  <div class="form-group">
    <label for="product-price">Preço:</label>
    <input required type="number" step="0.01" class="form-control" id="product-price" placeholder="Não enfie a faca!" [formControl]="productsForm.controls['price']">
  </div>
  <aside *ngIf="whitespaceError" class="alert alert-danger">Boa tentativa, mas hoje não. Preencha os campos com caracteres válidos</aside>
  <p-multiSelect [options]="categories" formControlName ="selectedCategories"></p-multiSelect>
  <div class="container" *ngFor="let image of imagesToShow; let i = index">
    <img [src]="image.$value" class="image">
    <div class="overlay" [ngClass]="{'removed': image.isRemoved }" (click)="removeImage(image)">
      <div class="text">{{ image.overlayText }}</div>
    </div>
  </div>
  <image-upload *ngIf="hasLessThanLimit" [max]="upToLimitPics" [extensions]="['jpeg','png']"
    (onFileUploadFinish)="imageFinishedUploading($event)"
    (onRemove)="imageRemoved($event)" 
    (isPending)="uploadStateChange($event)"></image-upload>
  <button class="btn" type="submit" [disabled]="!productsForm.valid">Atualizar</button>	  
  </form>	
</div>