<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="padding: 16px">

            <div class="space"></div>

            <div>
                <img src="../../../assets/img/icon_admin.png" class="center-block">

                <p style="margin: 2em;" align="center">Seu e-mail já foi verificado, vamos para o próximo passo :)</p>

                <p style="margin: 2em;" align="justify">
                    Sua consta está passando pela analise de perfil para ser
                    aprovada, estamos muitos felizes pelo seu ingresso na turma do iNeed. Em menos de <strong>24
                    horas</strong> sua conta
                    estará pronta para o uso. Um e-mail com a confirmação do perfil vai ser enviado para você quando tudo tiver pronto.
                </p>

            </div>

            <hr>
            <p class="small">Possui uma conta? <a routerLink="/subscribe/signin">Clique aqui</a> para logar.
            </p>
        </div>
    </div>
</div>