<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
 	<form [formGroup]="newProductForm" (ngSubmit)="addNewProduct($event)" #form="ngForm">
	  <div class="form-group">
	    <label for="product-name">Produto:</label>
	    <input formControlName="name" type="text" class="form-control" id="product-name" placeholder="Nome do Produto"  name="product-name">
	  </div>
	  <div class="form-group">
	    <label for="product-description">Descrição:</label>
	    <textarea formControlName="description" class="form-control" id="product-description" name="product-description"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="product-price">Preço:</label>
	    <input formControlName="price" type="number" step="0.1" min="0.01" class="form-control" id="product-price" placeholder="Preço do Produto"  name="product-price">
	  </div>
	  <div class="form-group">
	    <label for="product-stores">Vendido em:</label>
	    <div *ngFor="let store of stores">
	    	<input formControlName="store-{{store}}" type="checkbox" value="{{ store }}">	{{ store }}
	    </div>	    
	  </div>
		<button class="btn" type="submit">Adicionar</button>	  
  </form>
</div>	 

<pre>{{ form.value | json }}</pre>