<mat-toolbar color="primary">
  <span>iNeed</span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goTo('signup')">
      <mat-icon>person_add</mat-icon>
      <span>Cadastro</span>
    </button>
    <button mat-menu-item (click)="goTo('signin')">
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>
</mat-toolbar>

<main>

  <img src="../../assets/img/open.jpg">
  <div class="container img-responsive">
    <div class="carousel-caption">
      <div class="full-width animated fadeInUp">
        <h1>iNeed</h1>
        <p>Transformando ideias em objetivos comerciais bem-sucedidos. </p>
        <a mat-raised-button routerLink="#detalhes">Saiba Mais</a>
      </div>
    </div>
  </div>

  <div class="container" id="detalhes">

    <div>

      Informações aqui!

    </div>

  </div>

</main>


<footer class="footer">
  <div class="text-center center-block">
    <h4 class="txt-railway">iNeed - 2017</h4>
    <br/>
    <a href="#">
      <i id="social-fb" class="fa fa-facebook fa-3x social"></i>
    </a>
    <a href="#">
      <i id="social-tw" class="fa fa-twitter fa-3x social"></i>
    </a>
    <a href="#">
      <i id="social-gp" class="fa fa-google-plus fa-3x social"></i>
    </a>
    <a href="#">
      <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
    </a>
    <a href="#">
      <i id="social-yt" class="fa fa-youtube fa-3x social"></i>
    </a>
  </div>
</footer>