<div class="site-wrapper banner-main bg-fixed parallax-bg overlay purple-7 fullscreen-banner valign-wrapper" style="height: 100%; background-position: 0% 0%;" >

  <div class="site-wrapper-inner">

    <div class="cover-container text-center">

      <div class="top masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Logo</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">App</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Funcionalidades</a></li>
                  <li><a href="#">Screenshots</a></li>
                  <li><a href="#">Download</a></li>
                </ul>
              </li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
              <li><a routerLink="/shopkeeper/chat">Área do Lojista</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover box">
        <h1 class="cover-heading intro-title">iNeed</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#"><img class="google-play-badge" src="../../assets/img/google-play-badge.png"></a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
