<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">iNeed</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="btn btn-nav" data-toggle="collapse" aria-expanded="false" routerLink="/subscribe/signup">Cadastre-se</a>
        </li>

        <li>
          <a class="btn btn-nav" data-toggle="collapse" aria-expanded="false" routerLink="/subscribe/signin">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
  <div class="background-part">
    <img src="https://i.ytimg.com/vi/SjeWHbsAMlU/maxresdefault.jpg">
    <div class="container img-responsive">
      <div class="background-part-content">
        <div class="carousel-caption">
          <div class="full-width animated fadeInUp">
            <h1>Correndo suas idéias para a realidade</h1>
            <p>Transformando idéias em objetivos comerciais bem-sucedidos. </p>
            <a href="#detalhes" class="btn btn-info">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="detalhes">

    <div>

      Informações aqui!

    </div>

  </div>

</main>


<footer class="footer">
  <div class="text-center center-block">
    <h4 class="txt-railway">iNeed - 2017</h4>
    <br/>
    <a href="#"><i id="social-fb" class="fa fa-facebook fa-3x social"></i></a>
    <a href="#"><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a>
    <a href="#"><i id="social-gp" class="fa fa-google-plus fa-3x social"></i></a>
    <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    <a href="#"><i id="social-yt" class="fa fa-youtube fa-3x social"></i></a>
  </div>
</footer>
